.container, .container-fluid{
	display: block;
	width: 100%;
	margin: auto;
}
.container{max-width: 1200px;}

.item{
	display: block;
	padding: 16px;
	padding: 1rem;
}
.ph12{width: 100%;}
.ph11{width: 91.666666667%;}
.ph10{width: 83.333333333%;}
.ph9{width: 75%;}
.ph8{width: 66.666666667%;}
.ph7{width: 58.333333333%;}
.ph6{width: 50%;}
.ph5{width: 41.666666667%;}
.ph4{width: 33.333333333%;}
.ph3{width: 25%;}
.ph2{width: 16.666666667%;}
.ph1{width: 8.333333333%;}

/*
Estilos Generales -320px
Breakpoints para Responsive Design Mobile First:
320px	480px	600px	768px	1024px	1200px
20em	30em 	37.5em	48em	64em	75em
*/
@media screen and (min-width: 30em) {
	.itemTest{ background: green; }
	.sm12{width: 100%;}
	.sm11{width: 91.666666667%;}
	.sm10{width: 83.333333333%;}
	.sm9{width: 75%;}
	.sm8{width: 66.666666667%;}
	.sm7{width: 58.333333333%;}
	.sm6{width: 50%;}
	.sm5{width: 41.666666667%;}
	.sm4{width: 33.333333333%;}
	.sm3{width: 25%;}
	.sm2{width: 16.666666667%;}
	.sm1{width: 8.333333333%;}
}
@media screen and (min-width: 48em) {
	.itemTest{ background: cyan; }
	.md12{width: 100%;}
	.md11{width: 91.666666667%;}
	.md10{width: 83.333333333%;}
	.md9{width: 75%;}
	.md8{width: 66.666666667%;}
	.md7{width: 58.333333333%;}
	.md6{width: 50%;}
	.md5{width: 41.666666667%;}
	.md4{width: 33.333333333%;}
	.md3{width: 25%;}
	.md2{width: 16.666666667%;}
	.md1{width: 8.333333333%;}
}
@media screen and (min-width: 64em) {
	.itemTest{ background: magenta; }
	.lg12{width: 100%;}
	.lg11{width: 91.666666667%;}
	.lg10{width: 83.333333333%;}
	.lg9{width: 75%;}
	.lg8{width: 66.666666667%;}
	.lg7{width: 58.333333333%;}
	.lg6{width: 50%;}
	.lg5{width: 41.666666667%;}
	.lg4{width: 33.333333333%;}
	.lg3{width: 25%;}
	.lg2{width: 16.666666667%;}
	.lg1{width: 8.333333333%;}
}